body {
    background-image: url("../images/vegasSkyline3.jpg");
    background-size: 100%;
}


.grid {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
    text-align: center;
    background-color: blanchedalmond;
}

.grid #question {
    font-size: 30px;
}

.buttons {
    margin-top: 30px;
}

